@tailwind base;
@tailwind components;
@tailwind utilities;


.kwadratButton{
@apply flex items-center   justify-center w-[34px] h-[34px] bg-niebieski-2 rounded-sm  cursor-pointer  transition-colors mr-4 text-niebieski-6 hover:text-galeria hover:bg-niebieski-6  
}
.kwadratButtonActive{
@apply flex items-center   justify-center w-[34px] h-[34px] bg-uwaga-1 bg-opacity-30  rounded-sm  cursor-pointer  transition-colors ml-3 text-error-2   hover:text-error-3 hover:bg-uwaga-1   
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  
  
}
/* pasek przewoijania */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Projekt ścieżki paska przewijania, takiego jak tło */
  ::-webkit-scrollbar-track {
    background-color: #2a3a51;
  }
  /* Zaprojektuj kciuk paska przewijania */
  ::-webkit-scrollbar-thumb {
    background-color: #3f546f ;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color:#80C33F;
  }
